body{
	/*background-color: #CACACA;*/
	background-image: url("../images/gradient_back.jpg");
}
.title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: white;
}
.title.large {
	font-size: 155pt;
	margin: 0pt;
}
.title.sub {
	font-size: 4em;
}
.par{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: white;
	font-size: 24pt;
}
#codeImage{
	width: 75px; 
	height: 57px;
	background: url('../images/codeLight.png');
	background-size: 75px 57px;
}
#codeImage:hover{
	background: url('../images/codeWhite.png');
	background-size: 75px 57px;
}
#tweetImage{
	width: 75px; 
	height: 57px;
	background: url('../images/twitterLight.png');
	background-size: 75px 57px;
}
#tweetImage:hover{
	background: url('../images/twitterWhite.png');
	background-size: 75px 57px;
}