text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: draw 4s forwards;
  fill: #FF4D4D;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: draw 4s ease-out forwards, fill 4s 1.2s forwards;
  -moz-animation: draw 4s ease-out forwards, fill 4s 1.2s forwards;
  -o-animation: draw 4s ease-out forwards, fill 4s 1.2s forwards;
  -ms-animation: draw 4s ease-out forwards, fill 4s 1.2s forwards;
  animation: draw 4s ease-out forwards, fill 4s 1.2s forwards;
  fill: #FF4D4D;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fill {
  100% {
    fill: #000000;
  }
}
@-moz-keyframes fill {
  100% {
    fill: #000000;
  }
}
@-o-keyframes fill {
  100% {
    fill: #000000;
  }
}
@-ms-keyframes fill {
  100% {
    fill: #000000;
  }
}
@keyframes fill {
  100% {
    fill: #000000;
  }
}
.animate-delay{
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}