<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page.title}}</title>

    <!-- Bootstrap -->
    <link href="../../../css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../../css/style.css">
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body class="navigatorBody blogPostBack">
    <a href="../../../blognav.html"><div id="homeButton"></div></a>
  	<div class="blog-rectangle">
      <p class="title sub noselect fade-in" style="font-size: 170pt;">{{page.title}}</p>
      <p class="title sub noselect  fade-in">{{page.date | date: '%B %d, %Y'}}</p>
      <center><p class="par  fade-in" style="font-size: 14pt; font-variant: small-caps;">&darr; scroll &darr;</p></center>
    </div>
    <div class="blogContent">
  		<div class="blogtext"><br>{{content}}</div>
      <br><br><br>
      {% if page.comments %}
        <hr><br><br><br>
        <div id="disqus_thread" style="margin-left: 20%; margin-right: 20%;"></div>
        <script type="text/javascript">
            var disqus_shortname = 'mkappsblog';        
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}
	  </div>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
    </div>
  </body>
</html>