<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <link href='https://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body class="navigatorBody">
    <a href="index.html"><div id="homeButton"></div></a>
  	<div class="container">
	  	<br><br><br>
      <p class="title sub" style="font-size: 170pt;">Latest post:</p>
      <br>
      <p class="title sub">{{site.posts.first.title}}</p>
      <br>
      <div class="row">
        <div class="col-sm-2"><br></div>
        <div class="col-sm-8 blogtext"><br>{{site.posts.first.excerpt}}
          <a class="inlink" href="{{site.posts.first.url}}">Read more...</a>
        </div>
        <div class="col-sm-2"><br></div>
      </div>
      <br><br>
      <hr>
      <div class="row">
        <div class="col-sm-2"><br></div>
        <div class="col-sm-8"><br>
            <br>
              <p class="title sub">Blog Archive</p>
            <br>
            <ul class= "blogList blogtext">
              {% for p in site.posts %}
              <li>
                <a class="inlink" href="{{ p.url }}">{{ p.title }} - {{p.date | date: '%B %d, %Y'}}</a>
              </li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-sm-2"><br></div>
      </div>
      <br><br><br><br>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
    </div>
  </body>
</html>